<div class="card">
  <div class="card-block">
    <button type="button" class="close" aria-label="Close" (click)="closePropertyDetail()">
      <span aria-hidden="true">&times;</span>
    </button>
    <img src="assets/ico/house.png" class="rounded float-left" alt="Property" height="45" width="45">
    <h4 class="card-subtitle mb-2 text-md-center">Postcode: {{selectedProperty.address.postCode}}</h4>
    <h4 class="card-subtitle mb-2 text-md-center">City: {{selectedProperty.address.city}}</h4>
    <h4 class="card-subtitle mb-2 text-md-center">Surface: {{selectedProperty.surface}} sq.m.</h4>
    <h4 class="card-subtitle mb-2 text-md-center">Price: {{selectedProperty.prices[selectedProperty.prices.length - 1].amount}} €</h4>
    <p class="card-text">A quick summary of the property</p>
  </div>
</div>
